<h1> <%= @artist.first_name %><%=" "%><%=@artist.last_name%> </h1>


<%= link_to 'Edit  ', edit_billboard_artist_path([@billboard, @artist]) %> 
<%= link_to 'Delete  ', billboard_artist_path(@billboard, @artist), method: :delete %>

<%= link_to 'Back  ', billboard_path(@billboard) %>
<%= link_to "Songs", artist_songs_path(@artist)%>

