<<<<<<< HEAD
%= form_with(model: @song, local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, required: true, placeholder: "First Name", autofocus: true %>
    </div>

  <%= f.submit nil, class: "uibutton" %>
<% end %>
=======
<h1><%= @song.id ? 'Edit Song' : 'Create Song' %></h1>
<hr />
<%= form_with(model: [@artist, @song], local: true, class: "ui form") do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, required: true, autofocus: true %>
  <br />
  <br />
  <%= f.submit nil, class: "ui button" %>
<% end %>
>>>>>>> 2236a9715579f17b697c9d9379429bf55284326d
