<h1> <%= @artist.first_name %><%=" "%><%=@artist.last_name%> <%= "Songs"%> </h1>


<%= link_to 'Edit', edit_artist_song_path(@artist, @songs) %> 
<%= link_to 'Delete', artist_song_path(@artist, @song), method: :delete %>

<%= link_to 'Back  ', artist_path(@artist) %>

<<<<<<< HEAD
<%= @songs.each do |song| %>
    <%= link_to artist_songs_path(@artist) %>

<%= link_to "Back", billboards_path%>



<
=======
>>>>>>> 2236a9715579f17b697c9d9379429bf55284326d
