
<div class="ui card">
  <div class="image">
    <img src="https://robohash.org/<%= @billboard.chart %>?set=set4" />
  </div>
  <div class="content">
    <p class="header">
    </p>
    <div class="meta">
      <span class="date"><%= @billboard.chart %></span>
    </div>
    <div class="description">
      <%= @billboard.genre %>
      <br/>
      <%= "Week of:"%> <%=" "%> <%=@billboard.week %>
    </div>

    <h4><%=link_to "Add New Song", new_billboard_song_path(@billboard), class: "ui button blue" %><h4>
    <% @songs.each do |song|%>
    <ol>
    <li>
    <%= song.title %></li>
    <%= link_to "Show", billboard_song_path(@billboard, song) %>
  </ol>
  <% end %>

    <div class="extra content">
    <%= link_to "Edit", edit_billboard_path(@billboard), class: "ui button blue" %> 
    <%= link_to "Back", billboards_path, class: "ui button" %>
   
  </div>
</div>


<%#("%B-%e-%Y") Date format? %>